<html>
  <head>
    <title>Raspberry Pi Car Control</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <h1><center>Raspberry pi car controller</center></h1>
    <a href="#" data-direction="forward" class="button">Move Forward</a>
    <a href="#" data-direction="reverse" class="button">Move Reverse</a>
    <a href="#" data-direction="left" class="button">Move Left</a>
    <a href="#" data-direction="right" class="button">Move Right</a>
    <a href="#" data-direction="stop" class="button">Stop</a>

    <script type="text/javascript">
     var anchors = document.getElementsByTagName('a');

     for (var i = 0; i < anchors.length; i++) {
       anchor = anchors[i];
       direction = anchor.dataset.direction;
       console.log(direction);
       anchor.addEventListener('click', function(event) {
	 event.preventDefault();

	 /*xmlhttp.onreadystatechange = function() {
           if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
             if (xmlhttp.status == 200) {
               console.log("Command successfully received by the raspberry pi")
             } else if (xmlhttp.status == 400) {
               alert('There was an error 400');
             } else {
               alert('something else other than 200 was returned');
             }
           }
	 };*/
	 var xmlhttp = new XMLHttpRequest();
	 xmlhttp.open("GET", "/navigate/" + direction, true);
	 xmlhttp.send();
       })
     }
    </script>
  </body>
</html>
